body {
margin: 0;
}
.wallpaper {
   background-image: url(https://github.com/pkzstar/KB-Calculator/blob/main/images/Background.jpeg?raw=true);
   z-index: -10;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
}
#characters {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}
.charactersName {
    margin: 50px 0 0 0;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
.charactersImg {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-radius: 20%;
    margin: 50px 0 0 0;
    width: 200px; 
    height: auto;
    rotate: 45deg;
}
.charactersImg:hover {
    transform:scale3d(1.1, 1.1, 1.1);
    transition: ease .3s;
}
.moveBtn {
    border-radius: 10px;
    border-width: 5px 2px 5px 2px;
margin-top: 50px;
}
#textUpsmash {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}